*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:linear-gradient(to bottom,#33ccff 0%,#ff99cc 100%);
    background-image: url('A3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    margin:10px auto;
    width:300px;
    line-height: 1.5;
    
}
.form-wrap{
    background-color: white;
    padding:10px 25px 10px 25px;
    border-radius: 10px;

}
.form-wrap h1{
    text-align: center;
    
}

.form-wrap .form-group label{
    display: block;
    text-align: center;
}
.form-wrap .form-group input{
    width:100%;
    outline: none;
    border:1px solid grey;
    border-radius: 10px;
    line-height: 1.5;
    border:1px solid linear-gradient(to bottom,#33ccff 0%,#ff99cc 100%);

}
.form-wrap .form-group p {
     text-align: center;
    }
.form-wrap .form-group p a {
    color:gray;
    text-decoration: none;  
}
.form-wrap .btn {
    margin-top: 10px;
}
.form-wrap .btn input{
    width:100%;
    cursor: pointer;
    color:rgb(4, 4, 15);
    outline: none;
    line-height: 1.6;
    border:1px solid grey;
    border-radius: 10px;
}
.form-wrap .btn input:hover{
    background:linear-gradient(to bottom,#33ccff 0%,#ff99cc 100%);
      font-weight: bold;
}

.form-wrap .google{
    margin-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid pink;
    border-radius: 16px;
    /* background:linear-gradient(to bottom,#33ccff 0%,#ff99cc 100%); */
}
.form-wrap .google:hover{
    background:linear-gradient(to bottom,#33ccff 0%,#ff99cc 100%);
}
.form-wrap .google a{
           text-decoration: none;
           color:black;
        }
        .form-wrap .google a i{
            color:purple;
            float: left;
            font-size: large;

            margin-top: 4px;
            margin-left: 10px;
}
.form-wrap .fb{
    text-align: center;
    margin-top: 10px;
    border:1px solid pink;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif; 
    
}
.form-wrap .fb:hover{
    background:linear-gradient(to bottom,#33ccff 0%,#ff99cc 100%);

}
.form-wrap .fb a{
    text-decoration: none;
    color:black;
}
.form-wrap .fb a i{
    color: rgb(11, 11, 240);
    float: left;
    font-size: large;
    margin-top: 4px;
    margin-left: 10px;

}
.text{
    margin-top: 10px;
    text-align: center;
}
.text a{
    text-decoration: none;
    color:gray;
}